.layout
{
   width: 80%;
   height:100%;
   float:left;
   margin-bottom:5%;
}
    .layout div:nth-child(1)
    {
       width:20%;
       height:50%;
       float:left;
       background-color: #B3B6B6;
       border:2px solid black;
    }
        .layout div:nth-child(1) [type=submit]
        {
           width: 80%;
margin-left: -11%;
        }
    .layout div:nth-child(1) span
    {
      display: inline-block;
font-size: 100%;
text-align:center;
margin: 5% 0% 0% 14%;
cursor:pointer;

    }


    .layout div:nth-child(2) 
    {
        width: 80.5%;
border: 2px solid #000;
margin: 0% 0px 0px 20.3%;
background-color: #B3B6B6;
height: 138px;
    }
       
       
    .layout div:nth-child(3), .layout div:nth-child(4)
    {
        width:50%;
        border:2px solid black;
        margin:5% 0 0 35%;
        background-color:#B3B6B6;
      
    }
    .layout div:nth-child(4)
    {
        display:none;
    }
div h2,h3
{
    background-color:#A36429;
    margin-bottom:10%;
}
.layout table
{
        margin-top: -8%;
}
.layout div select,[type=text]
{
    width:100%;
     
}
.layout [type=text], .layout select,.layout span,[type=file]
{
    margin-top:11%;
}
.layout div span
{
   font-size: 113%;
font-weight: bold;
}
.layout [type=submit]
{
   margin: 6% -8% 5% 19%;
width: 25%;
}
td:nth-child(3) span
{
    font-size:80%;
    color:red;
}
.layout div:nth-child(5)
{
    width:100.7%;
    height:100px;
    border:2px solid black;
}
