<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="connect" connectionString="Data Source=AMX-523-PC;Initial Catalog=Employee_details;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
    <add name="connect" connectionString="Server=AMX-505-PC; Database=CabService; User Id=sa; password= sa5" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
    <system.webServer>
        <modules>
            <remove name="ServiceModel" />
        </modules>
        <handlers>
            <remove name="svc-Integrated" />
        </handlers>
    </system.webServer>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="useraspx/CabHome.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  </configuration>